@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.modal-enter {
  opacity: 0;
  transform: translateY(-100%) scale(1.5);
}

.modal-enter-active {
  opacity: 1;
  transform: translateY(0) scale(1);
  transition: opacity 300ms, transform 300ms;
}

.modal-exit {
  opacity: 1;
  transform: translateY(0) scale(1);
}

.modal-bg {
  background-color: #333;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.7);
}

.modal {
  border: 2px solid #444;
}

.modal-exit-active {
  opacity: 0;
  transform: translateY(-100%) scale(1.5);
  transition: opacity 300ms, transform 300ms;
}

.sidebar-enter {
  transform: translateX(-100%);
}

.sidebar-enter-active {
  transform: translateX(0);
  transition: transform 300ms;
}

.sidebar-exit {
  transform: translateX(0);
}

.sidebar-exit-active {
  transform: translateX(-100%);
  transition: transform 300ms;
}

.sidebar-bg {
  width: 30%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #333;
}
.sidebar-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.day-number
{
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  background-color: red;
  color: #fff;
  text-align: center;
  cursor: pointer;
}
.day-border
{
  border: 1px solid red;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
